body {
    text-align: center;
    background-color: #F8F9FB;
    padding: 40px;
    color: #4B6EA9;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

h2{
    text-transform: uppercase;
}

#logo-image {
    height: 150px;
    margin-bottom: 40px;
}

.level-card {
    margin: 0px 1px 14px 1px;
    display: inline-block;
    width: fit-content;
    text-align: center;
    cursor: pointer;
    -webkit-filter: drop-shadow(1px 3px 4px #0000005d); 
    filter: drop-shadow(1px 3px 4px #0000005d);
}

.level-card:hover {
    background-color: gainsboro;
    border-radius: 20px 20px 10px 10px;
}

.task-icon {
    display: block;
    width: fit-content;
    border: solid 5px;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 10px;
}

.solved {
    background-image: linear-gradient(to bottom, rgb(255 255 255), rgb(138 229 88));
}

.levels-block {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 26px;
    padding: 6px;
    box-shadow: inset 0px 10px 24px 1px rgb(0 0 0 / 33%);
}

.is_inline {
    display: inline-block;
    vertical-align: middle;
}

.is_cell {
	position: relative;
	/*width: 50%; */
}
.is_cell:before {
	content: "";
	float: left;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.is_black {
    background-color: #000;
}

.is_blue {
    background-color: #0074D9;
}

.is_red {
    background-color: #FF4136;
}

.is_green {
    background-color: #2ECC40;
}

.is_yellow {
    background-color: #FFDC00;
}

.is_grey {
    background-color: #AAAAAA;
}

.is_magenta {
    background-color: #F012BE;
}

.is_orange {
    background-color: #FF851B;
}

.is_aqua {
    background-color: #7FDBFF;
}

.is_maroon {
    background-color: #870C25;
}


.is_clickable {
    cursor: pointer;
    transition-duration: 100ms;
}

.is_clickable:hover {
    /*opacity: 0.7;*/
    /*transform: scale(0.92);*/
    transform: scale(1.2);
    box-shadow: 0 0 3px 2px white;
    z-index: 100;
}

.is_dragable {
    cursor: pointer;
    transition-duration: 500ms;
}

.is_dragable:hover {
    /*opacity: 0.7;*/
    /*outline: solid red 10px;*/
    transform: scale(1.05) rotate(1deg);
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.big_button {
    border: none;
    border-radius: 40px;
    width:100%; 
    height:150px;  
    display:inline-block;
    margin-bottom: 20px;
    cursor: pointer;
    max-width: 500px;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.144), rgba(117, 19, 93, 0.226));
    transition-duration: 300ms;
    color:white;
    text-transform: uppercase;
    font-size: 40pt;
    font-family: fantasy;
}  

.big_button:hover {
    /*opacity: 0.7;*/
    /*outline: solid red 10px;*/
    transform: scale(1.02);
}

table {
    border-spacing: 1px;
    width: 300px;
    /*height: 300px;*/
}



@keyframes emoji_anim {
    0%   {opacity: 0; visibility: visible;}
    20%  {opacity: 1;}
    80%  {opacity: 1;}
    100% {opacity: 0;}
  }

.animation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(200 200 200 / 50%);
    visibility: hidden;
}

.animation.live {
    animation-name: emoji_anim;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

.animation_image {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    /*
    visibility: hidden;

    animation-name: emoji_anim;
    animation-duration: 3s;
    animation-iteration-count: 1;
    */
}