body {
    text-align: center;
    background-color: #F8F9FB;
    padding: 20px;
    color: #4B6EA9;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

h2{
    text-transform: uppercase;
}

#logo-image {
    height: 150px;
    margin-bottom: 40px;
}

.level-card {
    margin: 0px 1px 14px 1px;
    display: inline-block;
    width: fit-content;
    text-align: center;
    cursor: pointer;
    -webkit-filter: drop-shadow(1px 3px 4px #0000005d); 
    filter: drop-shadow(1px 3px 4px #0000005d);
}

.level-card:hover {
    background-color: gainsboro;
    border-radius: 20px 20px 10px 10px;
}

.task-icon {
    display: block;
    width: fit-content;
    border: solid 5px;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 10px;
}

.solved {
    background-image: linear-gradient(to bottom, rgb(255 255 255), rgb(138 229 88));
}

.levels-block {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 26px;
    padding: 6px;
    box-shadow: inset 0px 10px 24px 1px rgb(0 0 0 / 33%);
}

#pallete {
    position: fixed;
    z-index: 10;
    bottom: 0;
    background-color: white;
    padding: 20px 40px 10px;
    left: 50%;
    transform: translate(-50%, 100%);
    width: fit-content;
    border-radius: 40px 40px 0 0;
    box-shadow: 0px 5px 24px 1px rgb(0 0 0 / 33%);
    transition-duration: 200ms;
}

#pallete.show {
    transform: translate(-50%, 0);
}

.pallete_cell {
    width: 8vw; 
    aspect-ratio: 1 / 1;
    max-width: 80px;
    transition-duration: 100ms;
}

.pallete_cell.main {
    border: thick double white;
    margin-right: 20px;
    box-shadow: 0px 5px 24px 1px rgb(0 0 0 / 33%);
}

.is_inline {
    display: inline-block;
    vertical-align: middle;
}

.block {
    display: inline-grid;
    vertical-align: middle;
    row-gap: 1px;
    column-gap: 1px;
    /*grid-template-columns: repeat(12, 1fr);*/
    max-width: 100%;
    max-height: 100%;
    /*max-width: 250px;
    max-height: 400px;*/

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.cell {
	position: relative;
    aspect-ratio: 1 / 1;
    min-height: 10px;
    min-width: 10px;
}

.is_cell:before {
	content: "";
	float: left;
	padding-top: 100%; 
    aspect-ratio: 1 / 1;
}

.is_black {
    background-color: #000;
}

.is_blue {
    background-color: #0074D9;
}

.is_red {
    background-color: #FF4136;
}

.is_green {
    background-color: #2ECC40;
}

.is_yellow {
    background-color: #FFDC00;
}

.is_grey {
    background-color: #AAAAAA;
}

.is_magenta {
    background-color: #F012BE;
}

.is_orange {
    background-color: #FF851B;
}

.is_aqua {
    background-color: #7FDBFF;
}

.is_maroon {
    background-color: #870C25;
}


.is_clickable {
    cursor: pointer;
    transition-duration: 100ms;
}

.is_clickable:hover {
    /*opacity: 0.7;*/
    /*transform: scale(0.92);*/
    transform: scale(1.2);
    box-shadow: 0 0 3px 2px white;
    z-index: 5;
}

.is_dragable {
    cursor: pointer;
    transition-duration: 500ms;
}

.is_dragable:hover {
    /*opacity: 0.7;*/
    /*outline: solid red 10px;*/
    transform: scale(1.05) rotate(1deg);
}

.is_hidden {
    display: none;
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.big_button {
    border: none;
    border-radius: 40px;
    width:100%; 
    height:150px;  
    display:inline-block;
    margin-bottom: 20px;
    cursor: pointer;
    max-width: 500px;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.144), rgba(117, 19, 93, 0.226));
    transition-duration: 300ms;
    color:white;
    text-transform: uppercase;
    font-size: 40pt;
    font-family: fantasy;
}  

.big_button:hover {
    /*opacity: 0.7;*/
    /*outline: solid red 10px;*/
    transform: scale(1.02);
}

/*
table {
    border-spacing: 1px;
    width: 220px;
}

table.is_big {
    width: 340px;
}
*/

@keyframes emoji_anim {
    0%   {opacity: 0; visibility: visible;}
    20%  {opacity: 1;}
    80%  {opacity: 1;}
    100% {opacity: 0;}
  }

.animation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(200 200 200 / 50%);
    visibility: hidden;
    z-index: 15;
}

.animation.live {
    animation-name: emoji_anim;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

.animation_image {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    /*
    visibility: hidden;

    animation-name: emoji_anim;
    animation-duration: 3s;
    animation-iteration-count: 1;
    */
}

.arrow_img {
    vertical-align: middle; 
    width: 30px
}

.train_example{
    display:inline-block; 
    /*margin: 40px 30px 40px 30px;*/
}

#train_container {
    background-color: bisque;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    row-gap: 40px;
    column-gap: 10px;
    padding: 20px;
}